.conteiner_pagination {
  display: flex;
  justify-content: flex-end;
  padding-right: 67px;
  padding-top: 24px;
  width: 100%;
  p {
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #808080;
    margin-right: 13px;
    margin-top: 2px;
  }
}
.page-link,
.page-item {
  background: none;
  color: #808080;
  font-size: 14px;
  line-height: 21px;
  width: 21px;
  height: 25px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item.disabled .page-link {
  background: none;
}
.page-item.active .page-link {
  background: #0064eb;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .conteiner_pagination {
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
}
