.user_main {
  display: flex;
}

.user_info {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 0px 57px;
  img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }
  h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    margin-top: 28px;
  }
  a {
    font-size: 18px;
    line-height: 22px;
    color: #0064eb;
    text-decoration: none;
    margin-top: 6px;
  }
  .subscribers {
    display: flex;
  }
}
